!!! html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(name="description", content="")
    title Semicolon Studios, Manila
    link(rel="stylesheet", href="styles.css")
  body
    div.wrapper
      img(src="logo-a.png", alt="Semicolon Studios Logo")
      h1.narrow-regular.company-name Semicolon
        span  Studios
      p.narrow-regular.location Manila
      p.email mail@semicolonstudios.com
