!!! html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(name="description", content="")
    title Semicolon Studios, Manila
    link(rel="stylesheet", href="styles.css")
  body
    div#wrapper
      h1#logo Semicolon Studios
